* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

#root {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  background-color: #EFEFEF;
  height: 100vh;
}