@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.infra {
  background-color: #ffaebc;
}

.development {
  background-color: #a0e7e5;
}

.design {
  background-color: #b4f8c8;
}

.planning {
  background-color: #fbe7c6;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #4db364;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #d92638;
}
